body {
  background-color: purple;
  color: white;
  font-family: Helvetica;
}

#boxone {
  background-color: black;
  color: white;
  width: 340px;
  height: 440px;
  padding: 30px;
  float: left;
}
#boxtwo {
  background-color: white;
  color: black;
  width: 340px;
  height: 440px;
  padding: 30px;
  float: left;
}
