body {
  background-color: gray;
  color: white;
  font-family: Helvetica;
}

#menu_bar {
  background-color: red;
  color: black;
  width: 1000px;
  height: 30px;
  padding: 10px;
  float: center;
}
